<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Failed</title>
</head>
<body>
    <nav>
        <div class="site-title">
         
         <p>Sorry,no result found</p> 
         </div> 
         <ul>
             <li><a href="/">Goto Home Page</a></li>
             <li><a href="/about">Goto About Page</a></li>
             
         </ul> 
    </nav>
    <div class="File contents">
        <h3>Bad request</h3>
    </div>    
</body>
</html>