<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
     <%const name='upload single file'%>   

    <nav>
        <div class="site-title">
           
         <a href="/"><h2><%=name%></h2></a>
         <p>Node js Backend test</p> 
         </div> 
         <ul>
             <li><a href="/">Goto HomePage</a></li>
            
         </ul> 
    </nav>
    <div class="File contents">
        
    </div>    
</body>
</html>