<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File System Home Page</title>
</head>
<body>

    <nav>
        <div class="site-title">
          
         <a href="/"><h2>File System app</h2></a>
         <p>Node js Backend test</p> 
         </div> 
         <ul>
             <li><a href="/about">About</a></li>
             <li><a href="/single-file-upload">Upload Single file </a></li>
         </ul> 
    </nav>
    <div class="File contents">
        <h2>All Files</h2>
        <ul>
            <li><a href="/all-files">List of uploaded files </a></li>
        </ul> 

    </div>    
</body>
</html>