<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Upload</title>
</head>
<body>

    <nav>
        <div class="site-title">
               

         <a href="/"><h2>File System app</h2></a>
         <p></p> 
         </div> 
        
    </nav>

      <form action="/files" enctype="multipart/form-data" method="POST"> 
        <input type="file" name="myFile" />
        <input type="submit" value="Upload a file"/>
     </form>
       

    
     <div class="File contents">
        <ul>
            <li><a href="/">Go to home</a></li>
            
            <li><a href="/all-files">List of uploaded files</a></li>
            
        </ul>
    </div>    
</bodys>
</html>